---
import Base from "@layouts/base.astro";
import ChartNavbar from "@components/charts/chart-navbar.astro";
import ChartAll from "@components/charts/chart-all.astro";
import {
  getPlatforms,
  getMarkets,
  getMarketScoresSorted,
  getAllDailyProbabilities,
} from "@lib/api";

// Generate routes for all items
export async function getStaticPaths() {
  const platforms = await getPlatforms();
  return platforms.map((platform) => ({
    params: { slug: platform.slug },
    props: { platform },
  }));
}
const { platform } = Astro.props;

// Download data
const allPlatforms = await getPlatforms();
const platforms = [platform];
const markets = (await getMarkets()).filter(
  (market) => market.platform_slug === platform.slug,
);
const scores = (await getMarketScoresSorted()).filter(
  (score) => score.platform_slug === platform.slug,
);
const probs = (await getAllDailyProbabilities()).filter(
  (prob) => prob.platform_slug === platform.slug,
);
---

<Base title={`Charts: ${platform.name}`}>
  <div class="p-4 m-2 pb-0 mb-0">
    <h1 class="text-4xl font-bold">{platform.name} Charts</h1>
    <div class="my-4">
      <p class="my-2">
        Numbers are great, but context is better. We do our best to describe our
        results, but no textual description will convey as much information as a
        chart or visualization of some kind. Our goal is to let you see the
        numerical context and draw your own conclusions.
      </p>
      <p class="my-2">
        Below you'll find detailed charts for all markets on {platform.name}.
        <a href="/charts" class="text-lavender underline">Click here</a> or the Charts
        Home button below to see all platforms
      </p>
    </div>
  </div>

  <ChartNavbar
    platforms={allPlatforms}
    currentPage={`/charts/${platform.slug}`}
  />

  <ChartAll
    platforms={platforms}
    markets={markets}
    scores={scores}
    probs={probs}
  />

  <div class="p-4 m-2">
    <p class="my-2">
      Are you looking for charts from the old Calibration City site? We're
      working on bringing all of those features over here, but in the meantime
      you can access it at <a
        href="https://old.calibration.city"
        class="text-lavender underline"
        target="_blank">https://old.calibration.city</a
      >. Note that it doesn't get data updates as frequently, so it may be a bit
      out of date.
    </p>
    <p class="my-2">
      Do you have an idea for a potentially interesting chart or visualization?
      <a href="/about#contact" class="text-lavender underline"
        >Contact us with your idea</a
      > and we'll credit you if we decide to add it!
    </p>
  </div>
</Base>
