---
import Base from "@layouts/base.astro";
import QuestionProbChart from "@components/charts/question-probs.astro";
import Traders from "@atoms/traders.astro";
import Volume from "@atoms/volume.astro";
import Duration from "@atoms/duration.astro";
import Grade from "@atoms/grade.astro";
import ScoreRel from "@atoms/score-rel.astro";
import ScoreAbs from "@atoms/score-abs.astro";
import { Icon } from "astro-icon/components";
import {
  getMarkets,
  getQuestions,
  getMarketScores,
  getQuestionOverallScores,
  getCategories,
} from "@lib/api";

// Generate routes for all items
export async function getStaticPaths() {
  const categories = await getCategories();
  const questions = await getQuestions();
  const marketsAll = await getMarkets();
  const marketScoresAll = await getMarketScores();
  return questions.map((question) => {
    const markets = marketsAll.filter(
      (market) => market.question_id === question.id,
    );
    const marketScores = marketScoresAll.filter(
      (score) => score.question_id === question.id,
    );
    return {
      params: { slug: question.slug },
      props: { categories, question, markets, marketScores },
    };
  });
}
const { categories, question, markets, marketScores } = Astro.props;

// Listed score types
// TODO: Put this in the database
const scoreLayout = [
  {
    row_title: "Brier score:",
    absolute_score_label: "Midpoint:",
    absolute_score_key: "brier-average",
    relative_score_label: "Relative:",
    relative_score_key: "brier-relative",
  },
  {
    row_title: "Logarithmic score:",
    absolute_score_label: "Midpoint:",
    absolute_score_key: "logarithmic-average",
    relative_score_label: "Relative:",
    relative_score_key: "logarithmic-relative",
  },
];

// Download scores
const questionScores = await getQuestionOverallScores(question.id);
//console.log(marketScores);

// Select category
const category = categories.find(
  (category) => category.slug === question.category_slug,
);
if (!category) {
  throw new Error(`Category not found for slug ${question.category_slug}`);
}

// Get resolution from market
const resolution = markets[0].question_invert
  ? !markets[0].resolution
  : markets[0].resolution;
---

<Base title="Market">
  <div class="grid grid-cols-1 md:grid-cols-2 pt-4">
    <div class="p-4 m-2">
      <div class="text-2xl mb-2">{question.title}</div>
      <ul class="flex flex-wrap items-center gap-3 mb-4">
        <li>
          Resolved
          {
            resolution ? (
              <span class="mx-1 px-2 rounded-sm bg-green/20">YES</span>
            ) : (
              <span class="mx-1 px-2 rounded-sm bg-red/20">NO</span>
            )
          }
        </li>
        <li>
          Category
          <span class="mx-1 px-2 rounded-sm bg-selection/20">
            <Icon name={category.icon} class="inline mr-0 mb-1" />
            <a href={`/category/${question.category_slug}`}>
              {question.category_name}
            </a>
          </span>
        </li>
        <li><Traders num={question.total_traders} /></li>
        <li><Volume num={question.total_volume} /></li>
      </ul>
      <!-- TODO: Tags
        <ul class="flex items-center space-x-4 my-2">
            <li class="font-semibold">Tags:</li>
            {question.tags.map((tag) => <li>{tag}</li>)}
        </ul>
      -->
      <div class="whitespace-pre-wrap my-2">{question.description}</div>
    </div>
    <div>
      <QuestionProbChart question={question} />
    </div>
  </div>
  <div class="p-2 m-2">
    <h1 class="text-2xl font-bold">Detailed Scores</h1>
  </div>
  <div class="bg-crust rounded-md drop-shadow-md p-4 m-2">
    {
      markets.map((market) => (
        <div class="mb-6">
          <div class="border-b-1">
            <ul class="flex flex-wrap items-center gap-x-3">
              <li class="font-bold text-lg">{market.platform_name}</li>
              <li>
                <Duration num={market.duration_days} />
              </li>
              {market.traders_count && (
                <li>
                  <Traders num={market.traders_count} />
                </li>
              )}
              {market.volume_usd && (
                <li>
                  <Volume num={market.volume_usd} />
                </li>
              )}
            </ul>
          </div>
          <div>
            <h3 class="italic">
              <a href={market.url} target="_blank" class="">
                {market.title}
                <Icon name="mdi:open-in-new" class="inline mb-1 ml-1" />
              </a>
            </h3>
          </div>
          {scoreLayout.map((row) => {
            const relScore = marketScores.find(
              (s) =>
                s.market_id == market.id &&
                s.score_type == row.relative_score_key,
            );
            if (!relScore) {
              throw new Error(
                `Score not found for market ${market.id}/${row.relative_score_key}`,
              );
            }
            const absScore = marketScores.find(
              (s) =>
                s.market_id == market.id &&
                s.score_type == row.absolute_score_key,
            );
            if (!absScore) {
              throw new Error(
                `Score not found for market ${market.id}/${row.absolute_score_key}`,
              );
            }
            return (
              <div class="md:ml-10 my-2">
                <div class="grid gap-x-4 grid-cols-1 md:grid-cols-3">
                  <div class="ml-4">
                    <span class="">{row.row_title}</span>
                  </div>
                  <div class="ml-8 md:ml-0">
                    <span class="inline-block w-20 mx-2 text-right">
                      {row.absolute_score_label}
                    </span>
                    <span class="inline-block w-20 text-right">
                      <Grade grade={absScore.grade} />
                    </span>
                    <span class="inline-block w-20 text-right">
                      <ScoreAbs num={absScore.score} />
                    </span>
                  </div>
                  <div class="ml-8 md:ml-0">
                    <span class="inline-block w-20 mx-2 text-right">
                      {row.relative_score_label}
                    </span>
                    <span class="inline-block w-20 text-right">
                      <Grade grade={relScore.grade} />
                    </span>
                    <span class="inline-block w-20 text-right">
                      <ScoreRel num={relScore.score} />
                    </span>
                  </div>
                </div>
              </div>
            );
          })}
        </div>
      ))
    }
    <div>
      <div
        class="flex space-x-4 border-b-1 flex-col sm:flex-row self-baseline sm:self-center"
      >
        <ul class="flex flex-wrap items-center gap-x-3">
          <li class="font-bold">Overall</li>
          <li>
            <Traders num={question.total_traders} />
          </li>
          <li>
            <Volume num={question.total_volume} />
          </li>
        </ul>
      </div>
      {
        scoreLayout.map((row) => {
          const absScore = questionScores.find(
            (s) => s.score_type == row.absolute_score_key,
          );
          if (!absScore) {
            throw new Error(
              `Score not found for question ${question.id}/${row.absolute_score_key}`,
            );
          }
          return (
            <div class="md:ml-10 my-2">
              <div class="grid gap-x-4 grid-cols-1 md:grid-cols-3">
                <div class="ml-4">
                  <span class="">{row.row_title}</span>
                </div>
                <div class="ml-8 md:ml-0">
                  <span class="inline-block w-20 mx-2 text-right">
                    {row.absolute_score_label}
                  </span>
                  <span class="inline-block w-20 text-right">
                    <Grade grade={absScore.grade} />
                  </span>
                  <span class="inline-block w-20 text-right">
                    <ScoreAbs num={absScore.score} />
                  </span>
                </div>
              </div>
            </div>
          );
        })
      }
    </div>
  </div>
</Base>
