---
import Base from "@layouts/base.astro";
import QuestionProbChart from "@components/question-prob-chart.astro";
import QuestionPlatformTable from "@components/question-platform-table.astro";
import type { DailyProbability, Question } from "@types";

export function getStaticPaths() {
    // TODO: Build this from collections
    // https://docs.astro.build/en/guides/content-collections/#building-for-static-output-default
    return [{ params: { slug: "us-president-2024" } }];
}

const question = (
    await fetch("https://data.predictionmetrics.org/questions").then((res) =>
        res.json(),
    )
)[0] as Question;

const dailyProbabilityPoints = (await fetch(
    "https://data.predictionmetrics.org/daily_probabilities",
).then((res) => res.json())) as DailyProbability[];
---

<Base title="Market">
    <div class="grid grid-cols-1 md:grid-cols-2 pt-4">
        <div class="p-4 m-2">
            <div class="text-2xl">{question.title}</div>
            <ul class="flex items-center space-x-4 my-2">
                <li class="font-semibold">Categories:</li>
                <li>
                    <a
                        href={`/category/${question.category_slug}`}
                        class="text-rosewater"
                    >
                        {question.category_name}
                    </a>
                </li>
                <li>
                    <a
                        href={`/category/${question.parent_category_slug}`}
                        class="text-rosewater"
                    >
                        {question.parent_category_name}
                    </a>
                </li>
            </ul>
            <ul class="flex items-center space-x-4 my-2">
                <li class="font-semibold">Tags:</li>
                {question.tags.map((tag) => <li>{tag}</li>)}
            </ul>
            <div class="whitespace-pre-wrap my-2">{question.description}</div>
        </div>
        <div>
            <QuestionProbChart points={dailyProbabilityPoints} />
        </div>
    </div>
    <QuestionPlatformTable question={question} />
</Base>
