---
import Base from "@layouts/base.astro";
import QuestionProbChart from "@components/question-prob-chart.astro";
import Traders from "@atoms/traders.astro";
import Volume from "@atoms/volume.astro";
import Duration from "@atoms/duration.astro";
import Grade from "@atoms/grade.astro";
import ScoreRel from "@atoms/score-rel.astro";
import ScoreAbs from "@atoms/score-abs.astro";
import LinkOut from "@icons/link-out.svg";
import {
  getMarketsByQuestion,
  getQuestions,
  getMarketScoresByQuestion,
  getQuestionOverallScores,
} from "@lib/api";

// Generate routes for all items
export async function getStaticPaths() {
  const questions = await getQuestions();
  return questions.map((question) => {
    return {
      params: { slug: question.slug },
      props: { question },
    };
  });
}
const { question } = Astro.props;

// Listed score types
// TODO: Put this in the database
const scoreLayout = [
  {
    row_title: "Brier score:",
    absolute_score_label: "Absolute:",
    absolute_score_key: "brier-average",
    relative_score_label: "Relative:",
    relative_score_key: "brier-relative",
  },
  {
    row_title: "Logarithmic score:",
    absolute_score_label: "Absolute:",
    absolute_score_key: "logarithmic-average",
    relative_score_label: "Relative:",
    relative_score_key: "logarithmic-relative",
  },
];

// Download market and scores
const markets = await getMarketsByQuestion(question.id);
const marketScores = await getMarketScoresByQuestion([question.id], null);
const questionScores = await getQuestionOverallScores(question.id);
---

<Base title="Market">
  <div class="grid grid-cols-1 md:grid-cols-2 pt-4">
    <div class="p-4 m-2">
      <div class="text-2xl">{question.title}</div>
      <ul class="flex items-center space-x-4 my-2">
        <li class="font-semibold">Category:</li>
        <li>
          <a href={`/category/${question.category_slug}`} class="text-lavender">
            {question.category_name}
          </a>
        </li>
      </ul>
      <!-- TODO: Tags
        <ul class="flex items-center space-x-4 my-2">
            <li class="font-semibold">Tags:</li>
            {question.tags.map((tag) => <li>{tag}</li>)}
        </ul>
      -->
      <div class="whitespace-pre-wrap my-2">{question.description}</div>
    </div>
    <div>
      <QuestionProbChart question={question} />
    </div>
  </div>
  <div class="p-4 m-2">
    {
      markets.map((market) => (
        <div>
          <div class="flex space-x-4 border-b-1 flex-col sm:flex-row self-baseline sm:self-center">
            <ul class="flex flex-wrap items-center gap-3">
              <li class="font-bold">{market.platform_name}</li>
              <li>
                <Duration num={market.duration_days} />
              </li>
              {market.traders_count && (
                <li>
                  <Traders num={market.traders_count} />
                </li>
              )}
              {market.volume_usd && (
                <li>
                  <Volume num={market.volume_usd} />
                </li>
              )}
            </ul>
          </div>
          {scoreLayout.map((row) => {
            const relScore = marketScores.find(
              (s) =>
                s.market_id == market.id &&
                s.score_type == row.relative_score_key,
            );
            if (!relScore) {
              throw new Error(
                `Score not found for market ${market.id}/${row.relative_score_key}`,
              );
            }
            const absScore = marketScores.find(
              (s) =>
                s.market_id == market.id &&
                s.score_type == row.absolute_score_key,
            );
            if (!absScore) {
              throw new Error(
                `Score not found for market ${market.id}/${row.absolute_score_key}`,
              );
            }
            return (
              <div class="ml-10 my-2">
                <div class="flex items-center space-x-3">
                  <span class="w-60 italic">{row.row_title}</span>
                  <span class="w-40 italic text-right">
                    {row.absolute_score_label}
                  </span>
                  <span class="w-20">
                    <Grade grade={absScore.grade} />
                  </span>
                  <span class="w-20">
                    <ScoreAbs num={absScore.score} />
                  </span>
                  <span class="w-40 italic text-right">
                    {row.relative_score_label}
                  </span>
                  <span class="w-20">
                    <Grade grade={relScore.grade} />
                  </span>
                  <span class="w-20">
                    <ScoreRel num={relScore.score} />
                  </span>
                </div>
              </div>
            );
          })}
        </div>
      ))
    }
    <div>
      <div
        class="flex space-x-4 border-b-1 flex-col sm:flex-row self-baseline sm:self-center"
      >
        <ul class="flex flex-wrap items-center gap-3">
          <li class="font-bold">Overall</li>
          <li>
            <Traders num={question.total_traders} />
          </li>
          <li>
            <Volume num={question.total_volume} />
          </li>
        </ul>
      </div>
      {
        scoreLayout.map((row) => {
          const absScore = questionScores.find(
            (s) => s.score_type == row.absolute_score_key,
          );
          if (!absScore) {
            throw new Error(
              `Score not found for question ${question.id}/${row.absolute_score_key}`,
            );
          }
          return (
            <div class="ml-10 my-2">
              <div class="flex items-center space-x-3">
                <span class="w-60 italic">{row.row_title}</span>
                <span class="w-40 italic text-right">
                  {row.absolute_score_label}
                </span>
                <span class="w-20">
                  <Grade grade={absScore.grade} />
                </span>
                <span class="w-20">
                  <ScoreAbs num={absScore.score} />
                </span>
              </div>
            </div>
          );
        })
      }
    </div>
  </div>
</Base>
