---
import CategoryReportCard from "@components/category-report-card.astro";
import QuestionCard from "@components/question-card.astro";
import Traders from "@atoms/traders.astro";
import Volume from "@atoms/volume.astro";
import Markets from "@atoms/num-markets.astro";
import ArrowRight from "@icons/arrow-right.svg";
import Base from "@layouts/base.astro";
import type { Category } from "@types";

const cat_response = await fetch(
    "https://data.predictionmetrics.org/categories",
);
const categories: Category[] = await cat_response.json();
const parentCategories = categories.filter((cat) => cat.is_parent);
---

<Base title="Categories">
    <div class="p-4 m-2">
        <h1 class="text-4xl font-bold">All Categories</h1>
    </div>

    {
        parentCategories.map((category) => (
            <div class="px-4 m-2">
                <div class="flex space-x-8 pb-2 border-b-2 items-center">
                    <h2 class="font-bold text-2xl">
                        <a href={`/category/${category.slug}`}>
                            {category.name}
                        </a>
                    </h2>
                    <div class="">
                        <ul class="flex items-center space-x-4">
                            <li>
                                <Markets num={category.total_markets} />
                            </li>
                            <li>
                                <Traders num={category.total_traders} />
                            </li>
                            <li>
                                <Volume num={category.total_volume} />
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2">
                    <div class="m-2">
                        <p class="my-2">{category.description}</p>
                        <div class="my-2">
                            <p class="mb-2">Subcategories:</p>
                            <div class="flex flex-wrap gap-2">
                                {categories
                                    .filter(
                                        (sub) =>
                                            sub.parent_slug === category.slug,
                                    )
                                    .map((sub) => (
                                        <a
                                            href={`/category/${sub.slug}`}
                                            class="inline-block px-3 py-1 bg-lavender text-crust hover:bg-lavender/90 text-sm rounded-full transition-colors duration-200"
                                        >
                                            {sub.name}
                                        </a>
                                    ))}
                            </div>
                        </div>
                    </div>
                    <CategoryReportCard />
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
                    <QuestionCard />
                    <QuestionCard />
                    <QuestionCard />
                    <QuestionCard />
                    <QuestionCard />
                    <QuestionCard />
                </div>
                <div class="flex justify-end m-2 mt-0 p-2">
                    <a
                        href={`/category/${category.slug}#questions`}
                        class="inline-flex items-center px-4 py-2 bg-lavender text-crust rounded-md hover:bg-lavender/90 transition-colors duration-200 font-medium"
                    >
                        See all {category.name} questions
                        <ArrowRight
                            height={20}
                            fill="currentColor"
                            class="ml-1"
                        />
                    </a>
                </div>
            </div>
        ))
    }
</Base>
