---
import CategoryReportCard from "@components/category-report-card.astro";
import QuestionCard from "@components/question-card.astro";
import SeeMoreLink from "@components/see-more-link.astro";
import Traders from "@atoms/traders.astro";
import Volume from "@atoms/volume.astro";
import Markets from "@atoms/num-markets.astro";
import Base from "@layouts/base.astro";
import { Icon } from "astro-icon/components";
import {
  getPlatforms,
  getCategories,
  getPlatformCategoryScores,
  getFeaturedQuestions,
  getCategoryOverallScores,
  getMarketScoresByQuestion,
} from "@lib/api";

const scoreType = "brier-relative";

const platforms = await getPlatforms();
const categories = await getCategories();
const platformCategoryScores = await getPlatformCategoryScores(null);
const categoryOverallScores = await getCategoryOverallScores();
const featuredQuestions = await getFeaturedQuestions(200);
const marketScores = await getMarketScoresByQuestion(
  featuredQuestions.map((q) => q.id),
  scoreType,
);
---

<Base title="Categories">
  <div class="p-4 m-2">
    <h1 class="text-4xl font-bold">Top-Level Categoirzation</h1>
    <div class="my-2">
        When we link markets from different platforms together into questions, we assign that question to one of the categories shown below. These are high-level bins, wide enough that almost all platforms should have some markets that fall under that umbrella.
    </div>
    <div class="my-2">
        For each category below you'll see the "report card", showing how many markets each platform had in this category and how they performed both in an absolute sense and how well they compared to their peers. You'll also see the overall score, showing how the markets did on average.
    </div>
  </div>

  {
    categories.map((category) => (
      <div class="px-4 m-2">
        <div class="flex space-x-8 pb-2 border-b-2 flex-col sm:flex-row">
          <h2 class="font-bold text-2xl">
            <Icon name={category.icon} class="inline mr-1 mb-1" />
            <a href={`/category/${category.slug}`}>{category.name}</a>
          </h2>
          <div class="self-baseline sm:self-center">
            <ul class="flex items-center space-x-4">
              <li>
                <Markets num={category.total_markets} />
              </li>
              <li>
                <Traders num={category.total_traders} />
              </li>
              <li>
                <Volume num={category.total_volume} />
              </li>
            </ul>
          </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2">
          <div class="m-2">
            <p class="my-2">{category.description}</p>
          </div>
          <CategoryReportCard
            platforms={platforms}
            categories={categories}
            platformCategoryScores={platformCategoryScores.filter(
              (score) => score.category_slug == category.slug,
            )}
            overallScores={categoryOverallScores.filter(
              (score) => score.item_id == category.slug,
            )}}
            pivot="platform"
          />
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
          {featuredQuestions.filter((question) => question.category_slug == category.slug).slice(0, 6).map((question) => {
            return (
              <QuestionCard
                question={question}
                categories={categories}
                scores={marketScores.filter(
                  (score) => score.question_id === question.id,
                )}
              />
            );
          })}
        </div>
        <SeeMoreLink
          link={`/questions?category=${category.slug}`}
          text={`See all ${category.name} questions`}
        />
      </div>
    ))
  }
</Base>
