---
import CategoryReportCard from "@components/category-report-card.astro";
import QuestionCard from "@components/question-card.astro";
import SeeMoreLink from "@components/see-more-link.astro";
import Traders from "@atoms/traders.astro";
import Volume from "@atoms/volume.astro";
import Markets from "@atoms/num-markets.astro";
import ArrowRight from "@icons/arrow-right.svg";
import Base from "@layouts/base.astro";
import type { Category, PlatformScore } from "@types";

const categories = (await fetch(
    "https://data.predictionmetrics.org/categories",
).then((res) => res.json())) as Category[];
const parentCategories = categories.filter((cat) => cat.is_parent);

const platformScores = (await fetch(
    "https://data.predictionmetrics.org/platform_scores",
).then((res) => res.json())) as PlatformScore[];
---

<Base title="Categories">
    <div class="p-4 m-2">
        <h1 class="text-4xl font-bold">All Categories</h1>
    </div>

    {
        parentCategories.map((category) => (
            <div class="px-4 m-2">
                <div class="flex space-x-8 pb-2 border-b-2 flex-col sm:flex-row">
                    <h2 class="font-bold text-2xl">
                        <a href={`/category/${category.slug}`}>
                            {category.name}
                        </a>
                    </h2>
                    <div class="self-baseline sm:self-center">
                        <ul class="flex items-center space-x-4">
                            <li>
                                <Markets num={category.total_markets} />
                            </li>
                            <li>
                                <Traders num={category.total_traders} />
                            </li>
                            <li>
                                <Volume num={category.total_volume} />
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2">
                    <div class="m-2">
                        <p class="my-2">{category.description}</p>
                        <div class="my-2">
                            <p class="mb-2">Subcategories:</p>
                            <div class="flex flex-wrap gap-2">
                                {categories
                                    .filter(
                                        (sub) =>
                                            sub.parent_slug === category.slug,
                                    )
                                    .map((sub) => (
                                        <a
                                            href={`/category/${sub.slug}`}
                                            class="inline-block px-3 py-1 bg-lavender text-crust hover:bg-lavender/90 text-sm rounded-full transition-colors duration-200"
                                        >
                                            {sub.name}
                                        </a>
                                    ))}
                            </div>
                        </div>
                    </div>
                    <CategoryReportCard
                        scores={platformScores.filter(
                            (score) => score.category_slug == category.slug,
                        )}
                        pivot="platform"
                    />
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
                    <QuestionCard />
                    <QuestionCard />
                    <QuestionCard />
                    <QuestionCard />
                    <QuestionCard />
                    <QuestionCard />
                </div>
                <SeeMoreLink
                    link={`/questions?category=${category.slug}`}
                    text={`See all ${category.name} questions`}
                />
            </div>
        ))
    }
</Base>
