---
import Base from "@layouts/base.astro";
import QuestionProbChart from "@components/question-prob-chart.astro";
import QuestionPlatformTable from "@components/question-platform-table.astro";

const data = {
    title: "Will Donald Trump win the 2024 US Presidential Election?",
    description:
        "Resolves to the person who wins the majority of votes for US President in the Electoral College, or selected by Congress following the contingency procedure in the Twelfth Amendment.\n(May resolve provisionally if both the Associated Press projects a winner and the losing major party candidate concedes; if Manifold allows provisional resolutions.)",
    parentCategory: "Politics",
    subCategory: "US Elections",
    startDate: "2024-01-01",
    endDate: "2024-11-05",
    platforms: [
        {
            name: "Kalshi",
            link: "#",
            traders: null,
            volume: 512693,
            duration: 365,
            grade: "D",
            scoreRel: -0.1,
            scoreAbs: 0.25,
        },
        {
            name: "Manifold",
            link: "#",
            traders: 526,
            volume: 100528,
            duration: 399,
            grade: "C-",
            scoreRel: 0.4,
            scoreAbs: 0.25,
        },
        {
            name: "Metaculus",
            link: "#",
            traders: 365,
            volume: null,
            duration: 400,
            grade: "B+",
            scoreRel: 0.0,
            scoreAbs: 0.25,
        },
        {
            name: "Polymarket",
            link: "#",
            traders: 1052,
            volume: 1524563,
            duration: 452,
            grade: "A",
            scoreRel: 1.0,
            scoreAbs: 0.25,
        },
    ],
    overall: {
        grade: "F",
        scoreRel: 1.0,
        scoreAbs: 0.36,
    },
};
---

<Base title="Market">
    <div class="grid grid-cols-1 md:grid-cols-2 pt-4">
        <div class="p-4 m-2">
            <div class="text-2xl">{data.title}</div>
            <ul class="flex items-center space-x-4 my-2">
                <li class="font-semibold">Categories:</li>
                <li>
                    <a href="#" class="text-rosewater">{data.parentCategory}</a>
                </li>
                <li>
                    <a href="#" class="text-rosewater">{data.subCategory}</a>
                </li>
            </ul>
            <div class="whitespace-pre-wrap">{data.description}</div>
        </div>
        <div>
            <QuestionProbChart />
        </div>
    </div>
    <QuestionPlatformTable data={data} />
</Base>
