---
import PlatformReportCard from "@components/category-report-card.astro";
import SeeMoreLink from "@components/see-more-link.astro";
import LongText from "@atoms/long-text.astro";
import Traders from "@atoms/traders.astro";
import Volume from "@atoms/volume.astro";
import Markets from "@atoms/num-markets.astro";
import Base from "@layouts/base.astro";
import {
  getPlatforms,
  getCategories,
  getPlatformCategoryScores,
  getPlatformOverallScores,
} from "@lib/api";

const scoreType = "brier-relative";

const platforms = await getPlatforms();
const categories = await getCategories();
const platformCategoryScores = await getPlatformCategoryScores(null);
const platformOverallScores = await getPlatformOverallScores();
---

<Base title="Platforms">
  <div class="p-4 m-2">
    <h1 class="text-4xl font-bold">Prediction Market Platforms</h1>
    <div class="my-2">
      Prediction market platforms are the backbones of this entire endeavour.
      These entities develop market mechanisms, fund web hosting, run community
      management, provide dispute resolution, and do a thousand other little
      things that keep prediction markets useful.
    </div>
    <div class="my-2">
      With the wide responsibilities that these platforms carry, they have to
      make certain decisions about how to focus their efforts. Taking into
      account their users, goals, and long-term strategies, each platform has
      eventually selected or settled into their own niches. For example, Kalshi
      specializes in recurring CFTC-approved contracts, Manifold allows any user
      to make any market (with play money), and Polymarket operates high-volume
      contracts on blockchain networks.
    </div>
    <div class="my-2">
      You may notice that Metaculus is not like the other platforms. Metaculus
      is a platform focused on forecasting, not trading, and so their structure
      is quite different. There are simply user predictions, that can be
      changed, and aggregations. However, their goal is still to forecast the
      future and we can still grade them on how well they accomplish that!
    </div>
  </div>

  {
    platforms.map((platform) => (
      <div class="px-4 m-2">
        <div class="flex space-x-8 pb-2 border-b-2 flex-col sm:flex-row">
          <h2 class="font-bold text-2xl">
            <a href={`/platform/${platform.slug}`}>{platform.name}</a>
          </h2>
          <div class="self-baseline sm:self-center">
            <ul class="flex items-center space-x-4">
              <li>
                <Markets num={platform.total_markets} />
              </li>
              {platform.total_traders && (
                <li>
                  <Traders num={platform.total_traders} />
                </li>
              )}
              {platform.total_volume && (
                <li>
                  <Volume num={platform.total_volume} />
                </li>
              )}
            </ul>
          </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2">
          <div class="my-2">
            <LongText text={platform.long_description} />
          </div>
          <PlatformReportCard
            platforms={platforms}
            categories={categories}
            platformCategoryScores={platformCategoryScores.filter(
              (score) => score.platform_slug == platform.slug,
            )}
            overallScores={platformOverallScores}
            pivot="category"
          />
        </div>
        <SeeMoreLink
          link={`/platform/${platform.slug}`}
          text={`See more about ${platform.name}`}
        />
      </div>
    ))
  }
</Base>
