---
import PlatformReportCard from "@components/category-report-card.astro";
import QuestionCard from "@components/question-card.astro";
import SeeMoreLink from "@components/see-more-link.astro";
import LongText from "@atoms/long-text.astro";
import Traders from "@atoms/traders.astro";
import Volume from "@atoms/volume.astro";
import LinkOut from "@icons/link-out.svg";
import Markets from "@atoms/num-markets.astro";
import Base from "@layouts/base.astro";
import type { Platform, PlatformScore } from "@types";

const platforms = (await fetch(
    "https://data.predictionmetrics.org/platforms",
).then((res) => res.json())) as Platform[];

const platformScores = (await fetch(
    "https://data.predictionmetrics.org/platform_scores",
).then((res) => res.json())) as PlatformScore[];
---

<Base title="Categories">
    <div class="p-4 m-2">
        <h1 class="text-4xl font-bold">All Market Platforms</h1>
    </div>

    {
        platforms.map((platform) => (
            <div class="px-4 m-2">
                <div class="flex space-x-8 pb-2 border-b-2 items-center">
                    <h2 class="font-bold text-2xl">
                        <a href={`/platform/${platform.slug}`}>
                            {platform.name}
                        </a>
                        {/*
                        <a href={platform.site_url}>
                            <LinkOut
                                height={24}
                                fill="currentColor"
                                class="inline"
                            />
                        </a>
                        */}
                    </h2>
                    <div class="">
                        <ul class="flex items-center space-x-4">
                            <li>
                                <Markets num={platform.total_markets} />
                            </li>
                            <li>
                                <Traders num={platform.total_traders} />
                            </li>
                            <li>
                                <Volume num={platform.total_volume} />
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2">
                    <div class="my-2">
                        <LongText text={platform.long_description} />
                    </div>
                    <PlatformReportCard
                        scores={platformScores.filter(
                            (score) => score.platform_slug == platform.slug,
                        )}
                        pivot="category"
                    />
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
                    <QuestionCard />
                    <QuestionCard />
                    <QuestionCard />
                    <QuestionCard />
                    <QuestionCard />
                    <QuestionCard />
                </div>
                <SeeMoreLink
                    link={`/questions?platform=${platform.slug}`}
                    text={`See all ${platform.name} questions`}
                />
            </div>
        ))
    }
</Base>
