---
import Grade from "@atoms/grade.astro";
import Volume from "@atoms/volume.astro";
import Traders from "@atoms/traders.astro";
import ScoreRel from "@atoms/score-rel.astro";
import type { Question } from "@types";

interface Props {
    question?: Question;
}

let { question } = Astro.props;

if (!question) {
    // only for prototyping
    const qst_response = await fetch(
        "https://data.predictionmetrics.org/questions",
    );
    const questions: Question[] = await qst_response.json();
    question = questions[0];
}
---

<div class="bg-crust rounded-md drop-shadow-sm p-4 m-2">
    <div class="font-bold mb-2">
        <a href={`/question/${question.slug}`}>
            {question.title}
        </a>
    </div>
    <div class="text-sm">
        <ul class="flex items-center space-x-4">
            <li>
                <a href={`/category/${question.category_slug}`}>
                    {question.category_name}
                </a>
            </li>
            <li><Traders num={question.total_traders} /></li>
            <li><Volume num={question.total_volume} /></li>
        </ul>
    </div>

    <table class="mt-2 table-auto text-sm w-full">
        <tbody>
            {
                question.markets?.map((market) => (
                    <tr>
                        <td class="px-2 pt-1">{market.platform_name}</td>
                        <td class="px-2 pt-1">
                            <Grade grade={market.grade} />
                        </td>
                        <td class="px-2 pt-1 font-mono">
                            <ScoreRel num={market.brier_score_rel} />
                        </td>
                    </tr>
                ))
            }
        </tbody>
    </table>
</div>
