---
import Traders from "@atoms/traders.astro";
import Volume from "@atoms/volume.astro";
import Duration from "@atoms/duration.astro";
import Grade from "@atoms/grade.astro";
import ScoreRel from "@atoms/score-rel.astro";
import ScoreAbs from "@atoms/score-abs.astro";
import LinkOut from "@icons/link-out.svg";
import type { Question } from "@types";

interface Props {
    question: Question;
}
const { question } = Astro.props;
---

<div class="pt-6 overflow-x-auto">
    <table class="table-auto text-left p-4 m-2 max-w-full">
        <thead>
            <tr class="border-b-2">
                <th class="px-4 py-2 w-40">Platform</th>
                <th class="px-4 py-2">Link</th>
                <th class="px-4 py-2">Traders</th>
                <th class="px-4 py-2">Volume (USD)</th>
                <th class="px-4 py-2">Duration</th>
                <th class="px-4 py-2">Letter Grade</th>
                <th class="px-4 py-2">Relative Brier</th>
                <th class="px-4 py-2">Absolute Brier</th>
            </tr>
        </thead>
        <tbody>
            {
                question.markets.map((market) => (
                    <tr>
                        <td class="px-4 py-2">{market.platform}</td>
                        <td class="px-6 py-2">
                            <a href={market.link}>
                                <LinkOut
                                    height={18}
                                    fill="currentColor"
                                    class="inline"
                                />
                            </a>
                        </td>
                        <td class="px-4 py-2">
                            <Traders traders={market.traders} />
                        </td>
                        <td class="px-4 py-2">
                            <Volume amount={market.volume} />
                        </td>
                        <td class="px-4 py-2">
                            <Duration days={market.duration} />
                        </td>
                        <td class="px-4 py-2">
                            <Grade grade={market.grade} />
                        </td>
                        <td class="px-4 py-2">
                            <ScoreRel score={market.scoreRel} />
                        </td>
                        <td class="px-4 py-2">
                            <ScoreAbs score={market.scoreAbs} />
                        </td>
                    </tr>
                ))
            }
            <tr class="border-t-2">
                <td class="px-4 py-2">Overall</td>
                <td class="px-6 py-2"></td>
                <td class="px-4 py-2">
                    <Traders traders={question.totalTraders} />
                </td>
                <td class="px-4 py-2">
                    <Volume amount={question.totalVolume} />
                </td>
                <td class="px-4 py-2">
                    <Duration days={question.totalDuration} />
                </td>
                <td class="px-4 py-2">
                    <Grade grade={question.overall.grade} />
                </td>
                <td class="px-4 py-2"> </td>
                <td class="px-4 py-2">
                    <ScoreAbs score={question.overall.scoreAbs} />
                </td>
            </tr>
        </tbody>
    </table>
</div>
