---
import Traders from "@atoms/traders.astro";
import Volume from "@atoms/volume.astro";
import Duration from "@atoms/duration.astro";
import Grade from "@atoms/grade.astro";
import ScoreRel from "@atoms/score-rel.astro";
import ScoreAbs from "@atoms/score-abs.astro";
import LinkOut from "@icons/link-out.svg";
import type { Question } from "@types";

interface Props {
    question: Question;
}
const { question } = Astro.props;
---

<div class="pt-6 overflow-x-auto md:overflow-x-hidden">
    <table class="table-auto text-left p-4 m-2 w-full">
        <thead>
            <tr class="border-b-2">
                <th class="px-4 py-2 w-40">Platform</th>
                <th class="px-4 py-2">Link</th>
                <th class="px-4 py-2">Traders</th>
                <th class="px-4 py-2">Volume (USD)</th>
                <th class="px-4 py-2">Duration</th>
                <th class="px-4 py-2">Letter Grade</th>
                <th class="px-4 py-2">Relative Brier</th>
                <th class="px-4 py-2">Absolute Brier</th>
            </tr>
        </thead>
        <tbody>
            {
                question.markets.map((market) => (
                    <tr>
                        <td class="px-4 py-2">{market.platform_name}</td>
                        <td class="px-6 py-2">
                            <a href={market.market_link}>
                                <LinkOut
                                    height={18}
                                    fill="currentColor"
                                    class="inline"
                                />
                            </a>
                        </td>
                        <td class="px-4 py-2">
                            <Traders num={market.traders} />
                        </td>
                        <td class="px-4 py-2">
                            <Volume num={market.volume} />
                        </td>
                        <td class="px-4 py-2">
                            <Duration num={market.duration} />
                        </td>
                        <td class="px-4 py-2">
                            <Grade grade={market.grade} />
                        </td>
                        <td class="px-4 py-2">
                            <ScoreRel num={market.score_rel} />
                        </td>
                        <td class="px-4 py-2">
                            <ScoreAbs num={market.score_abs} />
                        </td>
                    </tr>
                ))
            }
            <tr class="border-t-2">
                <td class="px-4 py-2">Overall</td>
                <td class="px-6 py-2"></td>
                <td class="px-4 py-2">
                    <Traders num={question.total_traders} />
                </td>
                <td class="px-4 py-2">
                    <Volume num={question.total_volume} />
                </td>
                <td class="px-4 py-2">
                    <Duration num={question.total_duration} />
                </td>
                <td class="px-4 py-2">
                    <Grade grade={question.overall_grade} />
                </td>
                <td class="px-4 py-2"> </td>
                <td class="px-4 py-2">
                    <ScoreAbs num={question.overall_score_abs} />
                </td>
            </tr>
        </tbody>
    </table>
</div>
